---
import author from "../data/author.json";

export interface Props {
    title: string;
    description: string;
    keywords: string;
}

const { title, description, keywords } = Astro.props;

const authorContent = `${author.name}, ${author.role}. Contact: ${author.email}, ${author.website}`;
---

<head>
    <title>{title}</title>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content={description} name="description" />
    <meta content={authorContent} name="author" />
    <meta content={keywords} name="keywords" />
</head>
